{% extends "base.html" %}

{% block content %}

			<div class="twelve columns">

				{% if not logged_in %}
					<a class="btn btn-default" href="/login">Login !</a>
				{% else %}
					<h2>Hi {{ session['fb_name'] }} !</h2>
				

					<hr>

					<table class="u-full-width">
						<thead>
							<tr>
								<th>#</th>
								<th>ID</th>
								<th>Recipients</th>
							</tr>
						</thead>
						<tbody>
							{% for thread in threads['data'] %}

								<tr>
									<td>#</td>
									<td><a href="thread/{{ thread['id'] }}">{{ thread['id'] }}</a></td>
									<td>
											{% for recipient in thread['to']['data'] %}
												{% if recipient['id'] != session['fb_user'] %}
													{{ recipient['name'] }},
												{% endif %}
											{% endfor %}		

									</td>
								</tr>

							{% endfor %}
						</tbody>
					</table>

					
					{% if debug %}
					
						<hr>
						<h1>Request</h1>
						<pre>
							{{ hop }}
						</pre>
					
					{% endif %}

				{% endif %}

			</div>

{% endblock %}
